@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #141414;
  --green: #00D595;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

.pt-30 {
  padding-top: 30px;
}

.pl-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.d-flex-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10rem;
}

.d-flex-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
}

.d-flex a {
  display: flex;
  align-items: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: var(--black);
}

.d-flex-two {
  max-width: 600px;
}

.d-flex-colum a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gp-8 {
  gap: 8px;
}

.gp-20 {
  gap: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.header-title a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}

.logo {
  width: 45px;
  height: 45px;
}

.icon-luna {
  width: 23px;
  height: 23px;
}

.icon-burger {
  width: 23px;
  height: 23px;
}

.title-one {
  font-size: 70px;
  color: var(--black);
}

.green-h1 {
  color: var(--green);
}

.box-img-perfil {
  width: 370px;
  height: 377px;
}

.img-perfil {
  width: 370px;
  height: 370px;
}

.box-title {
  line-height: 80px;
}

ul li {
  list-style: none;
  padding: 10px;
}

.linea-2 {
  border-top: 1px solid #141414;
  width: 20px;
  height: 2px;
}

.pgr-1 {
  font-weight: 600;
  font-size: 23px;
}

.box-subtitle-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 15px 0 20px;
}

.box-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 15px 0 20px;
}

.box-icons {
  margin-top: 40px;
  width: 190px;
}

.box-icons img {
  width: 25px;
  height: 25px;
}

.box-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-numbers li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  transition: all 300ms ease-in;
}

.box-numbers li a  .linea-2:hover {
  color: var(--green);
  border-top: 1px solid var(--green);
  transition: all 300ms ease-out;
}

.box-numbers li a:hover {
  color: var(--green);
  transition: all 300ms ease-out;
}


#fp-nav.fp-right {
  right: 83px !important;
  top: 300px;
}

#fp-nav ul li {
  width: 33px !important;
  height: 40px !important;
  margin: 8px !important;
}

/*=== Scroll Mouse Animation ===*/
.box-mouse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 25px;
  height: 40px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px var(--black);
  border-radius: 25px;
  border: 2px solid var(--black);
}

.icon-scroll:before {
  content: '';
  width: 6px;
  height: 6px;
  background: var(--black);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

/*===  End Scroll Mouse Animation ===*/

svg{
  transition: all 300ms ease-in;
}

svg:hover .github{
  stroke: var(--green);
  transition: all 300ms ease-out;
}

svg:hover .icon-instagram {
  fill: var(--green);
  transition: all 300ms ease-out;
}

svg:hover .icon-twitter {
  fill: var(--green);
  transition: all 300ms ease-out;
}

svg:hover .linkedin{
  stroke: var(--green);
  transition: all 300ms ease-out;
}

svg:hover .codepen{
  fill: var(--green);
  transition: all 300ms ease-out;
}

.fp-watermark {
  display: none;
}

.box-cv {
  display: flex;
  align-items: center;
  width: 188px;
  padding: 8px;
  border: 1px solid #00D595;
  border-radius: 50px;
  gap: 10px;
}

.box-cv-img {
  width: 21px;
  height: 27px;
}

.box-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}